@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600');

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/button';

// Layout.

	@import 'layout/bg';
	@import 'layout/wrapper';
	@import 'layout/header';
	@import 'layout/main';
	@import 'layout/footer';

// snowfall

// @function random_range($min, $max) {
// 	$rand: random();
// 	$random_range: $min + floor($rand * (($max - $min) + 1));
// 	@return $random_range;
// }

// .snow {
// 	$total: 200;
// 	position: absolute;
// 	width: 5px;
// 	height: 5px;
// 	background: white;
// 	border-radius: 50%;

// 	@for $i from 1 through $total {
// 		$random-x: random(1000000) * 0.0001vw;
// 		$random-offset: random_range(-100000, 100000) * 0.0001vw;
// 		$random-x-end: $random-x + $random-offset;
// 		$random-x-end-yoyo: $random-x + ($random-offset / 2);
// 		$random-yoyo-time: random_range(30000, 80000) / 100000;
// 		$random-yoyo-y: $random-yoyo-time * 100vh;
// 		$random-scale: random(10000) * 0.0001;
// 		$fall-duration: random_range(10, 30) * 1s;
// 		$fall-delay: random(30) * -1s;

// 		&:nth-child(#{$i}) {
// 			opacity: random(10000) * 0.0001;
// 			transform: translate($random-x, -10px) scale($random-scale);
// 			animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
// 		}

// 		@keyframes fall-#{$i} {
// 			#{percentage($random-yoyo-time)} {
// 			transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
// 			}

// 			to {
// 			transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
// 			}
// 		}
// 	}
// }
 